@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>QUOTATION SYSTEM</h1>
    <p class="lead">This is a prototype of the Quotation System. General workflow is that you add customers and products, then create your quotation.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            This is a prototype of the Quotation System
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
    </div>
</div>