@model IEnumerable<QuotationApp.Web.Models.QuotationIndexVm2>
@using GridMvc.Html
@using Newtonsoft.Json
@{
    
    ViewBag.Title = "Index";
    
}

<h2>Quotation List <small>You could filter using the icon filters in the column headers. Edit and Delete are on the left hand side of each row.</small></h2>



<p>
   @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary"})
   
</p>
@Html.Grid(Model).Columns(columns =>
           {
               columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o =>
                   @<b>
                    @Html.ActionLink("Edit", "Edit", "Quotation", new { id = o.Id }, null)
                    <span> | </span>
                    @Html.ActionLink("Delete", "Delete", "Quotation", new { id = o.Id }, null)</b>
                );
               columns.Add(col => col.Id);
               columns.Add(col => col.Product_Id).Titled("Part Number");
               columns.Add(col => col.Product_Description).Titled("Part Description");
               columns.Add(col => col.QuotedPrice).Titled("Price").Format("{0:$0.00}");
               columns.Add(col => col.MinOrderQty).Titled("Min Order Qty");
               columns.Add(col => col.CustomerName).Titled("Customer");
               columns.Add(col => col.CustomerReference).Titled("Reference");
               columns.Add(col => col.CreatedBy).Titled("Created By");
               columns.Add(col => col.CreateDate).Titled("Created").Filterable(true).
                   SortInitialDirection(GridMvc.Sorting.GridSortDirection.Descending).Format("{0:MM/dd/yyyy}");
               columns.Add(col => col.Status);

           }).Filterable().Sortable(true).WithPaging(ViewBag.PageSize)



@section scripts{
    <script src="~/Scripts/gridmvc.min.js"></script> 
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    @*<script src="~/Scripts/knockout.mapping-latest.js"></script>*@

    <script type="text/javascript">

        $('.datepicker').datepicker({});

    </script>

}
@section styles{
  
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />  
    <link href="~/Content/gridmvc.datepicker.min.css" rel="stylesheet" />
}