@model IEnumerable<QuotationApp.Web.Models.QuotationIndexVm2>
@using GridMvc.Html
@using Newtonsoft.Json
@{
    
    ViewBag.Title = "Index";
    
}

<h2>Quotation List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Grid(Model).Columns(columns =>
           {
               columns.Add(col => col.Id);
               columns.Add(col => col.Product_Id).Titled("Part Number");
               columns.Add(col => col.Product_Description).Titled("Part Description");
               columns.Add(col => col.QuotedPrice).Titled("Price");
               columns.Add(col => col.MinOrderQty).Titled("Min Order Qty");
               columns.Add(col => col.CustomerName).Titled("Customer");
               columns.Add(col => col.CustomerReference).Titled("Reference");
               columns.Add(col => col.CreatedBy).Titled("Created By");
               columns.Add(col => col.CreateDate).Titled("Created");
               columns.Add(col => col.Status);
               columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("Edit", "Edit", "Quotation", new { id = o.Id }, null));
               columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("Delete", "Delete", "Quotation", new { id = o.Id }, null));
           }).Filterable().Sortable(true).WithPaging(ViewBag.PageSize)



@section scripts{
    <script src="~/Scripts/gridmvc.min.js"></script> 
    <script src="~/Scripts/knockout.mapping-latest.js"></script>

    <script type="text/javascript">
        $(function () {
            var viewModel = ko.mapping.fromJS(@Html.Raw(JsonConvert.SerializeObject(Model)));
            ko.applyBindings(viewModel);
        });
    </script>

}
@section styles{
  
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />  
}