@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>QUOTATION SYSTEM</h1>
    <p class="lead">This is a prototype of the Quotation System. To get you started please refer to the following steps.</p>
    <ol>
        <li>To start off you need to register using the register link above. You could just use a dummy email.</li>
        <li>Click the New button under the Quotations menu above.</li>
        <li>Give it a try, Add, Edit and Delete quotations are fully functional. You can also add attachments when adding quotations (during edit is not yet working at this time)</li>
        <li>To view all quotations please use the View All link under the Quotations menu. You could filter by fields using the filter icon.</li>
    </ol>
   
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            This is a prototype of the Quotation System
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
    </div>
</div>